@import url(//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular);

body
{
	margin: 0;
}

.NavButton
{
	height: 4vh;
	width: auto;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 2vh;
	border-radius: 5px;
	text-align: center;
	color: #F9F9F9;
	font-size: 1.5em;
	font-family: "BeaufortW01-Regular";
}

.NavButton:hover
{
	background-color: #333333;
}

.ChampData
{
	width: 100%;
	margin: 0;
	grid-column: 1 / 3;
	text-align: left;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, auto);
}

.ChampData img
{
	width: 15vh;
	grid-row: 1 / 5;
	grid-column: 1 / 2;
}

.JaugeXP
{

	background-color: grey;
	grid-row: 4;
	grid-column: 3 / 8;
	margin-bottom: 2px;
	border: solid #C28F2C;
	border-radius: 3px;
}

.BarreXP
{

	background: cyan;
	grid-row: 4;
	grid-column: 3 / 8;
	margin-bottom: 2px;

	border-top: solid #C28F2C;
	border-left: solid #C28F2C;
	border-bottom: solid #C28F2C;
	border-radius: 3px;
	text-align: center;
}

.BarreXPFull
{

	background: linear-gradient(90deg, rgba(96,69,24,1) 0%, rgba(253,218,92,1) 50%, rgba(96,69,24,1) 100%);
	grid-row: 4;
	grid-column: 3 / 8;
	margin-bottom: 2px;
	border: solid rgba(0,0,0,0.1);
	border-radius: 3px;
	text-align: center;
}

#Cadre
{
	margin: auto;
	margin-top: 3vh;
	width: 70%;
	border: black solid;
	border-radius: 10px;
	background-color: rgba(53,66,75,0.5);
	text-align: center;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
}

#NavBar
{
	background-color: #111111;
	height: 8vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 10px;
	grid-row-start: 1vh;
}

#Logo
{
	height: 6vh;
	margin-top: 1vh;
}

#Logo:hover
{
	background-color: #111111;
}

#SearchBar
{
	grid-column: 8 / 11;
	background-color: #333333;
	margin-right: 5px;
}

#NickName
{
	grid-column: 1 / 3;
	grid-row: 1;
	font-size: 3em;
	font-family: "BeaufortW01-Regular";
	border-bottom: solid black;
	background-color: rgba(205,225,255,0.5);
}

#MainData
{
	grid-column: 1 / 3;
	grid-row: 2 ;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

#Summary
{
	grid-column: 3 / 4;
	grid-row: 1 / 5;
	border-left: solid black;
	background-color: rgba(205,225,255,0.5);
	padding: 1vh;
}

#PlayerIcon
{
	width: 15vh;
	border: solid #C28F2C;
	border-radius: 3px;
}


